<div style="margin-left: 30%;  margin-right: 30%; align-items: center; text-align: justify; width: 600; background-color: darkslategrey; border-radius: 25px;">
    <div style="padding: 20px;">
        <h2>Bienvenido</h2>
        <p>Este sitio web a sido creado para la realización del examen final de programación 3</p>
        <p>Puede disponer de todos los recursos del mismo:</p><br>
        <div style="background-color: rgb(34, 51, 51); border-radius: 15px;">
            <br>
            <ul >
                <li><a href="http://cettra.ddns.net/Examen_Final_05-08-22.pdf"> CONSIGNAS DEL EXAMEN PRÁCTICO </a></li>
                <li><a href="https://www.linkedin.com/in/ncettra/"> PROYECTO COMPLETO REALIZADO EN ANGULAR </a></li>
                <li><a href="http://cettra.ddns.net/ExamenProgramacion3_Nicolas_Cettra.pdf"> RESOLUCIÓN DE ITEMS </a></li>
            </ul>
            <br>
        </div>
    </div>    
</div>

